[submodule "_repos/verl"]
	path = _repos/verl
	url = https://github.com/volcengine/verl.git
[submodule "_repos/VeOmni"]
	path = _repos/VeOmni
	url = https://github.com/ByteDance-Seed/VeOmni.git
[submodule "_repos/LLaMA-Factory"]
	path = _repos/LLaMA-Factory
	url = https://github.com/the-seeds/LLaMA-Factory-Doc.git
