.. _pytorch_api:

API 文档
====================

{% for func_data in npu_functions %}
.. py:function:: torch_npu.{{ func_data.function }}

   {{ func_data.title}}

**功能描述**
   {{ func_data.description }}

**参数说明**
{% for param in func_data.params %}
   {{ param }}

{% endfor %}

**约束说明**
   {{ func_data.constraints}}

**示例**

{{ func_data.example}}

{% endfor %}


